body {
    background-color: #f6f6f6;
    padding:0;
    margin:0;
    width: 100vw;
}

.hero {
    display: flex;
    font-family: 'Montserrat', sans-serif;   
    width: 100vw;
}

#hero-info {
    width: 60vw;
    padding: 5em 1.6em 0 1.6em;
    text-align: center;    
    color: #545454;   
    
}

#hero-pic img {
    width: 40vw; 
    
}

#bolded-name {
    font-family: 'Bogart', sans-serif;
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 10vw;
    font-weight: 400; 
    color: black;                                             
}

#title-email {
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    margin-top: 30%;
}

.line {
    background-color: #75a375;
    height: 0.2em;
    width: 17%;
    margin-left: 72%;
    margin-top: -2%;
}

#skills-background {
    background-color: white;
    width: 60vw;
    display: flex;
    gap: 20%;
    padding: 3em 3em;
    font-size: 1.2em;
}

#skills-background h1 {
    font-family: 'Bogart', sans-serif;
    font-size: 2.7em;
    font-weight: normal;
    margin-bottom: 1.6em;
}

#skills ul li{
    padding:0.2em 0;
    margin-left: -1em;
}

#skills ul{
    margin-top: -0.1em;
}

p span {
    font-weight: bolder;
    color: #75a375;
}

#generic-pic {
   background-color: white;
   width: 40vw;
   display: flex;
   justify-content: end;
}

#generic-pic img {
    width: 80%;
    height: 80vh;
    margin-top: 41.5vh;
}

#project-description {
    background-color: #c0d9c0;
    width: 60vw;
    padding: 0 3em ;
    font-size: 1.5em;
    
}

#project-description h1 {
    font-family: 'Bogart', sans-serif;
    font-size: 5em;
    font-weight: normal;
    margin-bottom: 0.9em
}

#project-description p {
    max-width:  50vw;
    line-height: 2em;
}



#project-pic {
    background-color: #c0d9c0;
    width: 40vw;
    padding-top: 5em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
    
}

#project-pic img {
    width: 265px;
    height: 527px;
    margin-top: 1em;
}

.navigation {
    display: flex;
    justify-content: space-around;
    gap: 1vw;
    font-size: large;
    background-color: #545454;
    box-sizing: border-box;
    width: auto;
    
 
}

a {
    text-decoration-line: none;
    color: #75a375;
    padding: 2em;
}


@media (max-width: 1210px) {

    .line {
        margin-left: 73%;
        width: 19%;
        margin-top: -3%;
    }

    #project-description h1 {
        font-size: 4em;
    }

  }

  @media (max-width: 1100px){
    #title-email {
        margin-top: 11%;
    }

    #project-description h1 {
        font-size: 4em;
    }

    #project-pic img {
        margin-top: 0em;
    }
  }

  @media (max-width: 1100px) and (min-width: 925px) {
    
    .line {
        margin-left: 74%;
        width: 21%;
        margin-top: -3%;
        
    }

    #title-email {
        margin-top: 24%;
    }

    #skills-background {
        gap: 6%;
    }

    #project-description  {
        padding: 0 2em ;

    }

    #project-description h1 {
        font-size: 3.5em;
    }

    #project-pic img {
        margin-top: 0em;
    }

  }

  @media (max-width: 925px) {

    #title-email {
        margin-top: 10vh;
    }
    .line {
        width: 21%;
        margin-left: 75%;
        margin-top: -3%;
    }

    #skills-background {
        gap: 6%;
        padding: 3em 1em 3em 0.7em;
        font-size: 1.1em;
    }

    #skills-background h1 {
        font-size: 2em;
        
    }

    #generic-pic {
        justify-content: start;
     }

     #generic-pic img {
        width: 100%;
        margin-top: 37vh;
    }

    #project-description {
        padding: 0 0.7em ;
        font-size: 1.4em;
    }

    #project-description h1 {
        font-size: 2.9em;
    }

    #project-pic img {
        margin-top: -1em;
    }

    


  }

  @media (max-width: 700px) {
    .hero {
        display: block;
    }
    #hero-info {
        width: 100vw;
        padding: 0%;
        font-size: 1.2em;
        text-align: center;    
        color: #545454;   
    }

    #hero-pic img {
        width: 100vw;
        margin: 2vw 0 0 0;  
    }

    #bolded-name {
        margin-top: 20px;
        margin-bottom: 1em;
        font-size: 15vw;
        font-weight: 400; 
        color: black;                                             
    }

    #title-email {
        display: block;
        font-size: 1em;
        margin-top: 20%;
    }

    .line {
        width: 20%;
        margin-left: 40%;
        margin-top: -2%;
    }

    #skills-background {
        width: auto;
        display: block;
        padding: 3em 3em;
    }

    #generic-pic {
        width: 100vw;
    }

    #generic-pic img {
        width: 100%;
        margin-top: 0;
        height: 100%; 
    }

    #project-description {
        width: auto;
        padding: 3em 1em 3em 0.7em;
        
    }

    #project-description p {
        max-width:  80vw;
        font-size: 0.9em;
        padding: 0.7em 0.5em;
        line-height: 2.3em;
        
    }

    #project-description h1 {
        font-family: 'Bogart', sans-serif;
        font-size: 3em;
        font-weight: normal;
        margin-bottom: 0.9em
        
    }

    #project-pic {
        width: 100vw;
    }

    a {
        text-decoration-line: none;
        color: #75a375;
        padding: 2em;
    }



  }